<!DOCTYPE html>
<html xmlns="http://www.m3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>Welcome to KochStuWo</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />


</head>

<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Welcome to KochStuWo!</h1>
										<p class="mb-4">would you like to ...</p>
									</div>
									<form class="user">
										<a th:href="@{/login}"
											class="btn btn-primary btn-user btn-block"> Login </a> <br>
										<a th:href="@{/register}"
											class="btn btn-primary btn-user btn-block"> Create an
											Account </a>
										<hr>
										<div class="text-center">
											<a class="small"th:href="@{/aboutUs}">ABOUT US</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>


</body>

</html>
